@import "@/_setting.scss";

.board-content {
  // display: flex;
  overflow-x: auto;
  // margin: 0 $gap $gap;
  height: $board-content-height;
  // transition: all 0.2s;
  // transform: scale(0.99);
  // will-change: transform;
  // user-select: none;
  overflow-y: hidden;
  &.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $horizontal-scroll-bar-bg;
    border-radius: 8px;
  }

  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
}
