$gap: 10px;

$navbar-app-height: 4vh;
$navbar-board-height: 5vh;
$board-content-height: 90vh;
$column-border-radius: 5px;

// colors
$app-main-text-color: #333;
$alert-danger: #eb3b5a;
$border-input-color: #7ed6df;

// Screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: "(max-width:375px)";

// Bg-colo
$board-bg-color: #0079bf;
$horizontal-scroll-bar-bg: rgba(255, 255, 255, 0.2);
$column-bg-color: #ebecf0;
