@import "_setting.scss";

.trello-container {
  height: 100vh;
  background-color: $board-bg-color;
  overflow: hidden;
  color: $app-main-text-color;
  .icon {
    font-size: 14px;
    margin-right: 3px;
  }
  .trello-content-editable {
    background-color: inherit;
    border: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    &:focus {
      outline: none;
      border: 1px solid $border-input-color;
    }
  }

  span.cancel-icon {
    margin-left: $gap;
    cursor: pointer;
    i {
      font-size: 20px;
      color: $alert-danger;
      &:hover {
        color: darken($alert-danger, 10);
      }
    }
  }
}

button {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

button:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
